# Arquivos de Log
*.log
logs/

# Arquivos de Build e Dependências do Maven
target/
*.jar
*.war

# Arquivos de Crash da JVM
hs_err_pid*
replay_pid*

# Arquivos de IDEs
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Arquivos de Configuração Local (NÃO versionar segredos)
.env
application-local.yml
application-local.properties

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db